{{ form_start(form) }}
{#    {{ dump(form) }}#}
{#    {%  dump(form) %}#}
{#    {{ form_widget(form) }}#}
{#    {{ form_widget(form.color) }}#}
{#{{ form_label(form.color) }}#}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
