{% block custom_collection_widget %}

    <div data-controller="collection"
         data-collection-prototype-value="{{ form_widget(prototype)|e('html_attr') }}"
    >
        <button type="button" data-collection-target="addBtn" data-action="click->collection#add">add</button>
        <div data-collection-target="list">
            {% for child in form.children %}
                {{- form_widget(child) -}}
            {% endfor %}
        </div>
        {#        <button type="button" data-collection-target="addBtn" data-action="click->collection#add">add</button> #}
    </div>
{% endblock %}


{% block pilote_row %}
    {#    <div data-collection-target="item"> #}
    {{ form_widget(form) }}

    <button type="button" data-collection-target="deleteBtn" data-action="click->collection#delete">
        remove
    </button>
    <br>
    <button type="button" data-collection-target="deleteBtn" data-action="click->collection#up">
        move up
    </button>
    <button type="button" data-collection-target="deleteBtn" data-action="click->collection#down">
        move down
    </button>



    {#    </div> #}
{% endblock %}

 {% block car_pilote_widget %}
{#     {{ dump(form.value()) }}#}
     {{ dump(form) }}
     <div data-collection-target="item">
         {{- block('form_widget') -}}
     </div>

 {% endblock %}